li {
  list-style: none;
  border-bottom: dotted lightgrey;
}

li:last-child {
  border-bottom: unset;
}

ul {
  padding: 0.5em;
  margin: 0;
}

h3 {
  margin: 0;
}

#chat-room {
  width: 800px;
}

#messages {
  max-height: 14em;
  overflow-y: auto;
}

#users {
  width: 22%;
  float: right;
}

#message, #messages, #formatting-tools {
  margin-bottom: 0.5em;
}

#messages, #formatting-tools, #new-message {
  width: 72%;
  margin-right: 0.5em;
  float: left;
}

#messages, #formatting-tools, #new-message {
  float: left;
}

#messages, #users, #formatting-tools, #new-message {
  border: solid black 1px;
  box-shadow: 0.2em 0.1em 0.1em grey;
  padding: 0.5em;
}

input[type="text"] {
  width: 85%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: small;
}

.medium {
  font-size: medium;
}

.large {
  font-size: large;
}

.system {
  background: purple;
  color: lightgreen;
  font-weight: bold;
}
