li {
  list-style: none;
  border-bottom: dotted lightgrey;
}

li:last-child {
  border-bottom: unset;
}

ul {
  padding: 0.5em;
  margin: 0;
}

#messages {
  border: solid black 1px;
  max-height: 14em;
  overflow-y: auto;
  margin-bottom: 0.5em;
  box-shadow: 0.2em 0.1em 0.1em grey;
}
