<div>
  <h1>Chat Room</h1>
  <div id="messages">
    <ul>
      <li class="message" *ngFor="let message of this.messages">
        <b>{{message.author}}</b> -
        <span [ngClass]="{
          bold: message.bold,
          italic: message.italic,
          small: message.size === 'small',
          medium: message.size === 'medium',
          large: message.size === 'large',
          system: message.author === 'Server'}"
        >
          {{message.message}}
        </span>
      </li>
    </ul>
  </div>
  <div id="users">
    <h3>Users</h3>
    <ul>
      <li *ngFor="let user of this.users">
        {{user}}
      </li>
    </ul>
  </div>
  <div id="formatting-tools">
    <input #bold type="checkbox" /><strong>Bold</strong>
    <input #italic type="checkbox" /><em>Italic</em>
    <select #size>
      <option value="small">Small</option>
      <option value="medium" selected="selected">Medium</option>
      <option value="large">Large</option>
    </select>
  </div>
  <div id="new-message">
    <input #newMessage placeholder="Message" type="text"
           (keyup.enter)="sendMessage(newMessage.value, size.value, bold.checked, italic.checked); newMessage.value = ''"/>
    <button (click)="sendMessage(newMessage.value, size.value, bold.checked, italic.checked); newMessage.value = ''">Send</button>
  </div>
</div>
